

/* Slideshow container */
.omsosbestyrelse h2 {
  grid-column: 1/13;
  grid-row: 1/2;
}
.slideshow-container {
  grid-column: 2/12;
  grid-row: 2/3;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {

  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  grid-row: 2/3;
  margin: auto;

}

.prev {
  grid-column: 1/2;
}
.next {
  grid-column: 12/13;
}



/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  font-size: 50px;
}

/* Caption text */

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */


/* Fading animation */
.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}

